	<!-- Main View: generate all content for display -->
<!DOCTYPE html>
<html lang="en" ng-app='SPR'>

	<head>
			<!-- Compatibility & view issues -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	    <title>Surface Plasmon Resonance</title>

	    	<!-- Angular Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

			<!-- Bootstrap Libraries -->


			<!-- jQuery Libraries -->


	    	<!-- jqplot Libraries -->


	    	<!-- ng-grid Libraries -->


	    	<!-- Personal libraries, load last since these files will be referencing to those previous libraries too -->
		<link rel="stylesheet" href="styles/main.css">
		<script type="text/javascript" src="index_model.js"></script>
		<script type="text/javascript" src="scripts/services/system_model.js"></script>
		<script type="text/javascript" src="scripts/services/experiment_model.js"></script>
		<script type="text/javascript" src="scripts/services/output_model.js"></script>
		<script type="text/javascript" src="scripts/services/simple_statistics.js"></script> 
		<script type="text/javascript" src="index_controller.js"></script>
		<!--script type="text/javascript" src="scripts/controllers/controllers.js"></script-->
		<!--script type="text/javascript" src="scripts/filters/filters.js"></script-->
		<!-- credit: http://simplestatistics.org/ -->

	</head>

	<body ng-controller="viewCtrl as view">
		<!-- ng-init=setUpNewExperiment; ng-controller -->

<!-- Bootstrap column position: far left / far right -->
			
			<!-- 0. Debugging Box -->
				<!-- i. system_model -->
					<div class="system">
						<h1>System Model</h1>
							<!-- a) tRC-->
						<div>tRC = {{view.system.tRC}}</div><br/>
							<!-- b) Kd -->
						<div>Kd = {{view.system.Kd_chance}}</div><br/>
							<!-- c) kOff -->
						<div>kOff = {{view.system.kOff}}</div><br/>
							<!-- d) kOn -->
						<div>kOn = {{view.system.kOn}}</div><br/>
							<!-- e) mwL -->
						<div>mwL = {{view.system.mwL}}</div><br/>
							<!-- f) mwR -->
						<div>mwR = {{view.system.mwR}}</div><br/>
							<!-- g) mwP -->
						<div>mwP = {{view.system.mwP}}</div><br/>
					</div>

				<!-- ii. ouput_model -->
					<div class="output">
						<h1>Output Model</h1>

							<!-- a) fLC -->
						<form novalidate>
							fLC input: <input type="number" min="0" ng-model="new_fLC"> <br/>
							<button ng-click="view.output.add_fLC(new_fLC)">run experiment</button>
						</form><br/>
						<div ng-repeat="fLC_input in view.output.fLC track by $index">fLC = {{fLC_input}}</div><br/>

							<!-- b) timeOn -->
						<form novalidate>
							timeOn input: <input type="number" min="0" ng-model="new_timeOn"> <br/>
							<button ng-click="view.output.add_timeOn(new_timeOn)">run experiment</button>
						</form><br/>
						<div ng-repeat="timeOn_input in view.output.timeOn track by $index">timeOn = {{timeOn_input}}</div><br/>

							<!-- c) timeOff -->
						<form novalidate>
							timeOff input: <input type="number" min="0" ng-model="new_timeOff"> <br/>
							<button ng-click="view.output.add_timeOff(new_timeOff)">run experiment</button>
						</form><br/>
						<div ng-repeat="timeOff_input in view.output.timeOff track by $index">timeOff = {{timeOff_input}}</div><br/>

							<!-- d) vol -->
						<div>vol = {{view.vol}}</div><br/>

							<!-- e) RPUM -->
						<div>RPUM = {{view.RPUM}}</div><br/>

							<!-- f) RU0 (output) -->
						<div>RU0 (output) = {{}}</div><br/>

							<!-- g) RU0 (actual) -->
						<div>RU0 (actual) = {{}}</div><br/>

							<!-- h) ComplexConcOn -->
						<div>ComplexConcOn = {{}}</div><br/>

							<!-- i) RU_ComplexOn -->
						<div>RU_ComplexOn = {{}}</div><br/>

							<!-- j) ComplexConcOff -->
						<div>ComplexConcOff = {{}}</div><br/>

							<!-- k) RU_ComplexOff -->
						<div>RU_ComplexOff = {{}}</div><br/>

							<!-- l) RU_ComplexEQ -->
						<div>RU_ComplexEQ = {{}}</div><br/>

							<!-- m) Kd -->
						<div>tRC = {{output.tRC}}</div><br/>
					</div>

				<!-- iii. experiment_model -->
					<div class="experiment">
						<h1>Experiment Model</h1>
						
					</div>


<!-- Bootstrap column position: centre full -->

			<!-- 1. Top Box -->
				<!-- heading text only: SURFACE PLASMON RESONANCE -->

				<!-- Ligand ID -->
					<!-- text only -->

				<!-- Menu Bar -->
					<!-- ngcontroller hover over drop down menu -->
					<!-- for extension of functionality -->

				<!-- Cookies Autosave reload -->
					<!-- text warning -->
					<!-- button ng-click to load or restart -->
					<!-- ng-controllers: auto prompt to load save -->

<!-- Bootstrap column position: centre left -->

			<!-- 2. Output -->
				<!-- heading text only-->

				<!-- Mode A - Sensorgram: Graph of Resonance (RU) vs Time (s) -->
					<!-- graph element -->
					<!-- ng-controller plot sensorgram graph --> 
					<!-- services: model -->

				<!-- Mode A - Result Box: Precision  -->
					<!-- text only -->

				<!-- Mode B - Langmuir Isotherm: Graph of Resonance at Equilibrium (RU) vs [Free Ligand] (M) -->
					<!-- graph element -->
					<!-- ng-controller plot Langmuir graph --> 
					<!-- services: generated data -->

				<!-- Mode B - Result Box: Kd value  -->
					<!-- text only -->

			<!-- 3. Results -->
				<!-- heading text only -->

				<!-- Buttons-->

					<!-- Precision -->
						<!-- button ng-click -->
						<!-- ng-controller: precision calculation -->
						<!-- services: simple statitics -->

					<!-- Sensorgram -->
						<!-- button ng-click -->
						<!-- ng-controller: plot sensorgram graph -->

					<!-- Langmuir Isotherm -->
						<!-- button ng-click -->
						<!-- ng-controller: plot Langmuir graph -->

				<!-- Table data display -->
						<!-- directives: ng-grid -->
						<!-- ng-click controller: select -->

					<!-- No. -->
						<!-- text only -->

					<!-- Time (s) -->
						<!-- text only -->

					<!-- Free [Ligand] (M) -->
						<!-- text only -->

					<!-- Max Resonance @ on (RU) -->
						<!-- text only -->

					<!-- koff (s^-1) -->
						<!-- text only -->

<!-- Bootstrap column position: centre right -->

			<!-- 4. Status -->
				<!-- heading text only -->

				<!-- Days Left -->
					<!-- text only -->
					<!-- text box display; directives: warning 1 -->

				<!-- Time of Day -->
					<!-- text only -->
					<!-- text box display; directives: warning 2 -->

				<!-- Steps Taken -->
					<!-- text only -->
					<!-- text box display; directives: warning 3 -->

			<!-- 5. Control Panel -->
				<!-- heading text only -->

				<!-- Buttons -->

					<!-- Setup -->
						<!-- button ng-click -->
						<!-- ng-controller: setup -->

					<!-- Run -->
						<!-- button ng-click -->
						<!-- ng-controller: run -->

					<!-- Eat -->
						<!-- button ng-click -->
						<!-- ng-controller: eat -->

					<!-- Home -->
						<!-- button ng-click -->
						<!-- ng-controller: home -->

				<!-- Association Time (s) -->
					<!-- text only -->
					<!-- text box form -->

				<!-- Disassociation Time (s) -->
					<!-- text only -->
					<!-- text box form -->

				<!-- Free [Ligand] (M) -->
					<!-- text only -->
					<!-- text box form -->

			<!-- 6. Data Display -->
				<!-- heading text only -->

				<!-- Buttons -->

					<!-- Zero -->
						<!-- button ng-click -->
						<!-- ng-controller: zero -->

					<!-- Outlier -->
						<!-- button ng-click -->
						<!-- ng-controller: outlier -->						

					<!-- Select All -->
						<!-- button ng-click -->
						<!-- ng-controller: select all -->

					<!-- Excel Export -->
						<!-- button ng-click -->
						<!-- ng-controller: excell export -->

			<!-- 7. Credits -->
				<!-- text only -->
	    
	</body>

</html>